.idcard{
  background-image: url(../img/ejaz.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: 10px solid #0c52aa;
  border-radius: 10px;
  width: 25%;
  height: 640px;
  margin: 1em auto;
}
.img{
  /* border: 10px solid rgb(128, 127, 127); */
  width: 60%;
  height: 220px;
  margin: 7.5em auto 6em auto;
  border-radius: 50%;
  text-align: center;
}
.data{
  /* border: 10px solid rgb(128, 127, 127); */
  height: 130px;
  text-align: center;
}
#modal{
  /* border: 10px solid rgb(128, 127, 127); */
  display: flex;
  justify-content: center;
}
